* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	background-image: url(../imagenes/fondo2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;		
}
#contenedor {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header {
	width: 100%;
	background-color:#3f4c5c;
	color: #fff;
	padding: 15px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
header p.tit_encabezado {
	width: 80%;
	font-size: 1.5em;
	color: orange;
	text-align: left;
	letter-spacing: 0;
}

header a {
	width: 150px;
	text-align: center;
}
.nav {
	background-color: #3C6B7D;
	width: 100%;
	padding: 10px;
}
.nav .btn_nav {
	color: #fff;
	width: 180px;
	text-decoration: none;
	border-right: 1px solid #fff;
	padding: 10px;
}
.nav .btn_nav:hover {
	color: orange;
}
section {
	max-width: 380px;
	margin: 20px auto;
	background-color: rgba(0, 0,0, 0.5);
	padding: 10px;
	border-radius: 5px;
	z-index: 1000;
}

.resultado-precep{
	color:white;
	padding:10px;
	width: 100%;
	background-color:rgba(60, 107, 125, 0.5);
	margin-bottom: 5px;
	border: 2px solid rgba(255, 255,0255, 0.5);
	border-radius: 10px;
}

.titulo{
	color:orange;
	padding:10px;
	width: 100%;
	background-color:rgba(60, 107, 125, 0.5);
	border: 2px solid rgba(255, 255,0255, 0.5);
	border-radius: 10px;
	text-align: center;
	font-weight: 300;
}
.form{ 
	width: 100%;
    margin: 5px 0;
    text-align:center;
}

#turno, #especialidad, #curso {
	padding:10px;
	border-radius: 5px;
	margin: 3px;
}

.boton{
	display: block;
    background-color: #3C6B7D;
    color:white;
    margin: 8px auto;
    width: 150px;
    padding:10px;
	border-radius: 5px;
	text-decoration: none;
}
.boton:hover {
	background-color: #e99c38;
}

.texto {
	margin-top: 5px;
	color:#fff;
	}

p {
	padding: 5px;
	letter-spacing: 0.6px;
}

footer {	
	width: 100%;
	/*sacar para pginas interiones
	position: fixed;
	bottom: 0;*/
	z-index: 1;
}


footer .imagen{
	width:100%;
	display:flex;
	flex-direction: column;
	
}
footer .imagen .text{
	background-color:#3f4c5c; 
	color: #fff;
	padding: 5px;
	font-size: 0.8em;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	header {
		flex-direction: column;
		align-items: flex-start;
	}
}